@font-face
    font-family: 'SuisseIntl-Regular'
    src: url(../fonts/SuisseIntl/SuisseIntl-Regular.woff)

@font-face
    font-family: 'SuisseIntl-Medium'
    src: url(../fonts/SuisseIntl/SuisseIntl-Medium.woff)