.popup
  .popup__window
    .popup__window-close
    .popup__window-info
      .popup__window-info-title Kako sudjelovati?
      p.popup__window-info-txt.
        Ulogirajte se u svoj Favbet korisnički račun
        ili se registrirajte kao naš korisnik, te
        odaberite "Sudjeluj" gumb na stranici promocije.
      p.popup__window-info-txt.
        Okladite se i osvojite bodove.#[br]
        Kako bi osvojili bodove, kladite se u kategorijama
        Sport, eSport, Uživo i Casino, od ponedjeljka do
        nedjelje svakog promotivnog tjedna (UTC+2).#[br]
        Više informacija možete pronaći na dnu stranice,
        nakon klika na "Kako osvojiti bodove" gumb.
  .popup__bg
.cosmic
  .cosmic__main
    .container
      .cosmic__logo
        img(src='img/logo.svg' alt='logo')
      .cosmic__main-info
        .cosmic__main-info-item
          p MacBook Air
          p Glavna nagrada
        .cosmic__main-info-item
          p Iphone 13 Pro
          p Svaki tjedan
      .cosmic__main-welcome
        .cosmic__main-welcome-title Kozmička
        .cosmic__main-welcome-phone
        .cosmic__main-welcome-title avantura
      .cosmic__main-sunlight
      .cosmic__main-planet
      .cosmic__prizes
        .cosmic__prizes-slider#prizes-slider
          .cosmic__prizes-slider-item
            picture.cosmic__prizes-slider-img
              source(media="(min-width: 551px) and (min-height: 451px)" srcset="img/prize-1.png")
              source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/prize-1-mob.png")
              source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize-1-mob.png")
              img(src="img/prize-1.png" alt="Favbet")
            .cosmic__prizes-slider-name Iphone 13 Pro
          .cosmic__prizes-slider-item
            picture.cosmic__prizes-slider-img
              source(media="(min-width: 551px) and (min-height: 451px)" srcset="img/prize-2.png")
              source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/prize-2-mob.png")
              source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize-2-mob.png")
              img(src="img/prize-2.png" alt="Favbet")
            .cosmic__prizes-slider-name MacBook Air
          .cosmic__prizes-slider-item
            picture.cosmic__prizes-slider-img
              source(media="(min-width: 551px) and (min-height: 451px)" srcset="img/prize-3.png")
              source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/prize-3-mob.png")
              source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize-3-mob.png")
              img(src="img/prize-3.png" alt="Favbet")
            .cosmic__prizes-slider-name Novac na račun
          .cosmic__prizes-slider-item
            picture.cosmic__prizes-slider-img.size
              source(media="(min-width: 551px) and (min-height: 451px)" srcset="img/prize-4.png")
              source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/prize-4-mob.png")
              source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize-4-mob.png")
              img(src="img/prize-4.png" alt="Favbet")
            .cosmic__prizes-slider-name Risk-free bet
          .cosmic__prizes-slider-item
            picture.cosmic__prizes-slider-img
              source(media="(min-width: 551px) and (min-height: 451px)" srcset="img/prize-5.png")
              source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/prize-5-mob.png")
              source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize-5-mob.png")
              img(src="img/prize-5.png" alt="Favbet")
            .cosmic__prizes-slider-name free spins
        .cosmic__prizes-controls
          .controls-left.arrow-disabled
            .controls-left__arrow
          .controls-right
            .controls-right__arrow
      a(href="#").cosmic__btn sudjelovati
  .cosmic__how
    .cosmic__how-title KAKO SUDJELOVATI U PROMOCIJI?
    .cosmic__how-rocket
      .cosmic__how-rocket-txt Pritisnite gumb «sudjeluj»
      .cosmic__how-rocket-txt Kladite se i zaradite bodove
      .cosmic__how-rocket-txt Osvojite nagrade
    .cosmic__how-btn
      .cosmic__how-btn-icon i
      .cosmic__how-btn-txt Više
    .cosmic__how-icon
  a(href="#").cosmic__btn sudjelovati
  .cosmic__pay
  .cosmic__footer
