.wrapper
    .snow
        .snow__light
        .snow__container
            .snow__title
                .snow__title-top Створи свою казку
                .snow__title-bottom Новорічне Диво
            .snow__tree
                img(src='img/tree/tree-day1-1.png' alt='tree').snow__tree-one
                img(src='img/tree/tree-day1-2.png' alt='tree').snow__tree-two
                .snow__tree-generator
    .info
        .info__container
            .info__text
                img(src='img/snowman-left.png' alt='snowman').info__text-img1
                p.
                    Відтвори свої найщиріші та найпотаємніші бажання під новий рік.
                    Проводь час з улюбленими іграми та вгадуй результати всіх матчів.
                    Змагайся за чарівні призи і будь всередині гри з Favbet
                img(src='img/snowman-right.png' alt='snowman').info__text-img2
            .info__prize
                .info__prize-btn Список призів
                .info__prize-table
                    .info__prize-table-row
                        .info__prize-table-item
                            p 250 000 ₴
                            p 1 місце
                        .info__prize-table-item
                            p 150 000₴
                            p 2 місце
                        .info__prize-table-item
                            p 100 000₴
                            p 3 місце
                        .info__prize-table-item
                            p 50 000₴
                            p 4 місце
                    .info__prize-table-row
                        .info__prize-table-item
                            p 50 000₴
                            p 5 місце
                        .info__prize-table-item
                            p 30 000₴
                            p 6-10 місце
                        .info__prize-table-item
                            p 10 000₴ + 100 freespins
                            p 11-20 місце
                        .info__prize-table-item
                            p 5 000₴ + ставка без ризику
                            p 21-50 місце
            .info__row
                .info__item
                    .info__item-title Став на cпорт
                    .info__item-text
                        p #[span Мінімальна ставка: 300 грн]
                        p За суму ставок у 2000 грн у розділі Спорт та LIVE отримуєш #[span 1 бал у турнірну таблицю]
                        p За ставки на кіберспорт отримаєш вдвічі більше балів #[br] #[span (2000 грн = 2 бали)]
                        p Віртуальний спорт не враховується
                        p Деталі дивись у правилах та умовах
                    a(href='#').info__item-btn Зробити ставку
                .info__item
                    .info__item-title Грай в казино
                    .info__item-text
                        p Для розділу Казино:
                        p За суму ставок у #[span 5000 грн отримаєш 1 бал]
                        p #[span Мінімальна ставка: 30 грн]
                        p Для розділу Live казино, TV BET, BetGames.tv: Множник виграшної ставки = 1 бал #[br] #[span Мінімальна ставка: 50 грн]
                        p Деталі дивись у правилах та умовах
                    a(href='#').info__item-btn Зробити ставку

